{% extends "base.html.twig" %}

{% block title %}{{ parent() }} - Projets{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/members.css') }}" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/members.js') }}"></script>
{% endblock %}

{% block body %}
    <div id="dashboard">
        <div id="communities">
            <header>
                <h3>{{ 'communities.mine' | trans }}</h3>
            </header>
            <section>
                {% for communityMembership in communities %}
                    {% set community = communityMembership.community %}
                    <a href="{{ path('community_details', {"slug": community.slug}) }}" class="community">
                        <header>
                            <img src="{{ community.picture is not null ? asset(community.picture.getWebPath()) : asset('images/icons/community-default.svg') }}"/>
                            <h4>{{ community.name }}</h4>
                        </header>
                    </a>
                {% endfor %}
            </section>
            <footer>
                <a href="{{ path('new_community') }}" class="button">
                    {{ 'communities.creation.title' | trans }}
                </a>
                <a href="{{ path('communities_list') }}" class="button">
                    {{ 'communities.list' | trans }}
                </a>
            </footer>
        </div>
        <div id="profile">
            <div>
                <header>
                    <h3>{{ app.user.username }}</h3>
                </header>
                <section>

                </section>
            </div>
            <div>
                <iframe src="https://discordapp.com/widget?id=446593317254332416&theme=dark" width="300" height="400" allowtransparency="true" frameborder="0"></iframe>
            </div>
        </div>
    </div>
{% endblock %}


