{% extends "base.html.twig" %}

{% block title %}{{ parent() }} - Projets{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/members.css') }}" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/members.js') }}"></script>
{% endblock %}

{% block body %}
    <div id="dashboard">
        <div id="profile-card" class="module">
            <header>
                <h3>{{ app.user.username }}</h3>
            </header>
            <section>

            </section>
        </div>
        <div id="communities-card" class="module">
            <header>
                <h3>{{ 'communities.mine' | trans }}</h3>
            </header>
            <section>

            </section>
            <footer>
                {% if is_granted('ROLE_LEAD') %}
                    <a href="{{ path('new_community') }}" class="module-button">
                        {{ 'communities.creation.title' | trans }}
                    </a>
                {% endif %}
                <a href="{{ path('communities_list') }}" class="module-button">
                    {{ 'communities.list' | trans }}
                </a>
            </footer>
        </div>
    </div>
{% endblock %}


