{% extends "base.html.twig" %}

{% block title %}{{ parent() }} - {{ project.name }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/projects.css') }}" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/projects.js') }}"></script>
{% endblock %}

{% block body %}
    <div id="project-container">
        <div id="project" class="module">
            <header>
                <h3>{{ project.name }}</h3>
            </header>
            <section>
                <p>{{ project.description }}</p>
            </section>
        </div>
        <div id="project-infos">
            <div id="project-owner" class="module">
                <header>
                    <h3>{{ 'projects.product_owner' | trans }}</h3>
                    <h4>{{ project.productOwner.username }}</h4>
                </header>
                <section>
                    {% if project.productOwner.organization is not null %}
                        <h4>Organisation</h4>
                        <p>{{ project.productOwner.organization.name }}</p>
                        <p>{{ project.productOwner.organization.description }}</p>
                    {% endif %}
                </section>
            </div>
            <div id="project-members" class="module">
                <header>
                    <h3>{{ 'projects.members' | trans }}</h3>
                </header>
                <section>
                    {% for membership in members %}
                        <div class="member">
                            {{ membership.user.username }}
                        </div>
                    {% endfor %}
                </section>
                <footer>
                    {% if membership is null %}
                        <button id="join-button" onclick="joinProject('{{ project.slug }}');" class="module-button">
                            Rejoindre
                        </button>
                    {% endif %}
                </footer>
            </div>
        </div>
    </div>
{% endblock %}

