{% extends "base.html.twig" %}

{% block title %}{{ parent() }} - {{ project.name }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/projects.css') }}" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/projects.js') }}"></script>
{% endblock %}

{% block body %}
    <div id="project-container">
        <header>
            <h1>{{ project.name }}</h1>
            <div>
                {% if project.approvalPoll is not null and project.approvalPoll.isEnded == false %}
                    <a href="{{ path('get_poll', { "slug": project.slug, "id": project.approvalPoll.id }) }}" class="button link">
                        {{ 'projects.votes.see' | trans }}
                    </a>
                {% endif %}
                {% if membership is null and app.user is not null %}
                    <button id="join-button" onclick="joinProject('{{ project.slug }}');" class="button">
                        {{ 'projects.join' | trans }}
                    </button>
                {% endif %}
                {% if membership is not null %}
                    <a href="{{ path('project_workspace', { "slug": project.slug }) }}" class="button link">
                        {{ 'projects.workspace' | trans }}
                    </a>
                {% endif %}
            </div>
        </header>
        <section>
            <div id="project">
                <header>
                    <p>{{ project.description }}</p>
                </header>
                <section>
                    <div>
                        <h3>{{ 'projects.news.title' | trans }}</h3>
                        {% for new in news %}
                            <div class="news">
                                {{ new | news_icon('fa-2x') }}
                                <div>
                                    <p>{{ ('projects.news.' ~ new.category) | trans(new.data) }}</p>
                                    <span>{{ new.createdAt | date('website.full_date' | trans) }}</span>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </section>
            </div>
            <div id="project-infos">
                <div id="project-owner">
                    <header>
                        <h3>{{ 'projects.product_owner' | trans }}</h3>
                        <h4>{{ project.productOwner.username }}</h4>
                    </header>
                    <section>
                        {% if project.organization is not null %}
                            <h4>{{ 'projects.organization' | trans }}</h4>
                            <p>{{ project.organization.name }}</p>
                            <p>{{ project.organization.description }}</p>
                        {% endif %}
                    </section>
                </div>
                <div id="project-members">
                    <header>
                        <h3>{{ 'projects.members' | trans }}</h3>
                    </header>
                    <section>
                        {% for membership in members %}
                            <div class="member">
                                {{ membership.user.username }}
                            </div>
                        {% endfor %}
                    </section>
                </div>
            </div>
        </section>
    </div>
{% endblock %}

