{% extends "base.html.twig" %}

{% block title %}{{ parent() }} - Projets{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/projects.css') }}" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div id="projects">
        <header>
            <h3>{{ 'projects.list.title' | trans }}</h3>
        </header>
        <section>
            {% for project in projects %}
                <div class="project">
                    <header>
                        <i class="fa fa-cog fa-4x"></i>
                    </header>
                    <section>
                        <a href="{{ path('project_details', {"slug": project.slug }) }}">{{ project.name }}</a>
                    </section>
                </div>
            {% endfor %}
        </section>
        <footer>
            <a class="button" href="{{ path('new_project') }}">
                {{ 'projects.creation.link' | trans }}
            </a>
        </footer>
    </div>
{% endblock %}
