
{% extends "base.html.twig" %}

{% block title %}{{ parent() }} - {{ poll.project.name }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/projects.css') }}" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/projects.js') }}"></script>
{% endblock %}

{% block body %}
    <div id="poll-container">
        <header>
            <h3>{{ poll.project.name }}</h3>
        </header>
    </div>
{% endblock %}


