
{% extends "base.html.twig" %}

{% block title %}{{ parent() }} - {{ poll.project.name }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/projects.css') }}" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/projects.js') }}"></script>
{% endblock %}

{% block body %}
    <div id="poll-container">
        <div id="poll-infos">
            <header>
                <h2>{{ poll.project.name }}</h2>
            </header>
            <section>
                <h3>{{ 'projects.product_owner' | trans }}</h3>
                <h4>{{ poll.project.productOwner.username }}</h4>
                {% if poll.project.organization is not null %}
                    <h4>{{ 'projects.organization' | trans }}</h4>
                    <p>{{ poll.project.organization.name }}</p>
                    <p>{{ poll.project.organization.description }}</p>
                {% endif %}
            </section>
            <section>
                <h5>{{ 'projects.votes.created_at' | trans }}</h5>
                {{ poll.createdAt.format('website.full_date' | trans) }}
                <h5>{{ 'projects.votes.ended_at' | trans }}</h5>
                {{ poll.endedAt.format('website.full_date' | trans) }}
            </section>
            <section>
                <h3>{{ 'projects.votes.action_title' | trans }}</h3>
                <div id="vote-first-step">
                    <button class="button" onclick="showVoteForm('positive');">
                        {{ 'projects.votes.positive' | trans }}
                    </button>
                    <button class="button" onclick="showVoteForm('negative');">
                        {{ 'projects.votes.negative' | trans }}
                    </button>
                </div>
                <div id="vote-positive">
                    <form onsubmit="voteProjectPoll('{{ poll.project.slug }}', {{ poll.id }}, event);">
                        <div>
                            <input id="radio-positive-tech" type="radio" name="choice" value="positive.tech" />
                            <label for="radio-positive-tech"><span></span>{{ 'projects.votes.positive_tech' | trans }}</label>
                        </div>
                        <div>
                            <input id="radio-positive-purpose" type="radio" name="choice" value="positive.purpose" />
                            <label for="radio-positive-purpose"><span></span>{{ 'projects.votes.positive_purpose' | trans }}</label>
                        </div>
                        <input type="hidden" name="is_positive" value="true" />
                        <button type="button" class="button link" onclick="hideVoteForm();">{{ 'projects.votes.previous' | trans }}</button>
                        <button type="submit" class="button">{{ 'projects.votes.action_title' | trans }}</button>
                    </form>
                </div>
                <div id="vote-negative">
                    <form onsubmit="voteProjectPoll('{{ poll.project.slug }}', {{ poll.id }}, event);">
                        <div>
                            <input id="radio-negative-tech" type="radio" name="choice" value="negative.tech" />
                            <label for="radio-negative-tech"><span></span>{{ 'projects.votes.negative_tech' | trans }}</label>
                        </div>
                        <div>
                            <input id="radio-negative-purpose" type="radio" name="choice" value="negative.purpose" />
                            <label for="radio-negative-purpose"><span></span>{{ 'projects.votes.negative_purpose' | trans }}</label>
                        </div>
                        <div>
                            <input id="radio-negative-infos" type="radio" name="choice" value="negative.infos" />
                            <label for="radio-negative-infos"><span></span>{{ 'projects.votes.negative_infos' | trans }}</label>
                        </div>
                        
                        <input type="hidden" name="is_positive" value="false" />
                        <button type="button" class="button link" onclick="hideVoteForm();">{{ 'projects.votes.previous' | trans }}</button>
                        <button type="submit" class="button">{{ 'projects.votes.action_title' | trans }}</button>
                    </form>
                </div>
            </section>
        </div>
        <div id="poll-details">
            <header>
                <h3>{{ 'projects.descriptions.title' | trans }}</h3>
            </header>
            <section>
                {% for key, title in {
                    'need': 'projects.descriptions.categories.need' | trans,
                    'target': 'projects.descriptions.categories.target' | trans,
                    'goal': 'projects.descriptions.categories.goal' | trans
                } %}
                    <div class="description">
                        <header>
                            <h4>{{ title }}</h4>
                        </header>
                        <section>
                            {{ attribute(details, key ~ 'Description') | raw }}
                        </section>
                    </div>
                {% endfor %}
            </section>
        </div>
    </div>
{% endblock %}


