{% extends "base.html.twig" %}

{% block title %}{{ parent() }} - {{ project.name }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/projects.css') }}" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/projects.js') }}"></script>
{% endblock %}

{% block body %}
    <div id="project-container">
        <div id="project-infos">
            <header>
                <h1>{{ project.name }}</h1>
            </header>
            <section>
                {% if details is not null and details.needDescription | length >= 20 and details.targetDescription | length >= 20 and details.goalDescription | length >= 20 %}
                    <div id="votes">
                        <header>
                            <h3>{{ 'projects.votes.title' | trans }}</h3>
                            <p>{{ 'projects.votes.wording' | trans }}</p>
                        </header>
                        <section>
                            {% if poll is null %}
                                <form method="POST" action="{{ path('create_project_poll', { "slug": project.slug }) }}">
                                    <button type="submit" class="indicator orange">{{ 'projects.votes.create' | trans }}</button>
                                </form>
                            {% else %}
                                <a href="{{ path('get_poll', { 'slug': project.slug, 'id': poll.id }) }}" class="indicator green">{{ 'projects.votes.see' | trans }}</a>
                            {% endif %}
                        </section>
                    </div>
                {% endif %}
                <div id="descriptions">
                    <header>
                        <h3>{{ 'projects.descriptions.title' | trans }}</h3>
                        <p>{{ 'projects.descriptions.wording' | trans }}</p>
                        {% if details is null %}
                            <a href="{{ path('project_details', {"slug": project.slug})}}" class="indicator orange">
                                {{ 'projects.descriptions.indicators.create' | trans }}
                            </a>
                        {% elseif details.needDescription | length < 20 or details.targetDescription | length < 20 or details.goalDescription | length < 20 %}
                            <a href="{{ path('project_details', {"slug": project.slug})}}" class="indicator red">
                                {{ 'projects.descriptions.indicators.incomplete' | trans }}
                            </a>
                        {% else %}
                            <a href="{{ path('project_details', {"slug": project.slug})}}" class="indicator green">
                                {{ 'projects.descriptions.indicators.complete' | trans }}
                            </a>
                        {% endif %}
                    </header>
                    {% if details is not null %}
                        <section>
                            {% for key, title in {
                                'need': 'projects.descriptions.categories.need' | trans,
                                'target': 'projects.descriptions.categories.target' | trans,
                                'goal': 'projects.descriptions.categories.goal' | trans
                            } %}
                                <div class="description">
                                    <strong>{{ title }}</strong>
                                    {% if attribute(details, key ~ 'Description') | length < 20 %}
                                        <a href="{{ path('project_details', {"slug": project.slug})}}" class="indicator red">
                                            {{ 'projects.descriptions.indicators.incomplete' | trans }}
                                        </a>
                                    {% else %}
                                        <a href="{{ path('project_details', {"slug": project.slug})}}" class="indicator green">
                                            {{ 'projects.descriptions.indicators.complete' | trans }}
                                        </a>
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </section>
                    {% endif %}
                </div>
            </section>
        </div>
    </div>
{% endblock %}


