{% extends "base.html.twig" %}

{% block title %}{{ parent() }} - {{ 'communities.creation.title' | trans }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/communities.css') }}" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/communities.js') }}"></script>
{% endblock %}

{% block body %}
    <div id="communities" class="module">
        <header>
            <h3>{{ 'communities.title' | trans }}</h3>
        </header>
        <section>
            {% for community in communities %}
                <a href="{{ path('community_details', {"slug": community.slug}) }}" class="community">
                    <header>
                        <img src="{{ community.picture is not null ? asset(community.picture.getWebPath()) : asset('images/icons/community-default.svg') }}"/>
                        <h4>{{ community.name }}</h4>
                    </header>
                </a>
            {% endfor %}
        </section>
        <footer>
            
        </footer>
    </div>
{% endblock %}


