{% extends "base.html.twig" %}

{% block title %}{{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel='stylesheet' href='{{ asset('css/homepage.css') }}' />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/homepage.js') }}"></script>
{% endblock %}

{% block body %}
    <div id="home">
        <h1>{{ 'homepage.title' | trans | raw }}</h1>
        <div class="image-container">
            <img src="{{ asset('images/camping.svg') }}">
        </div>
        <div class="stat-container">
            <div class="stat">
                <span>{{ nb_camps }}</span>
                <p>{{ 'homepage.nb_camps' | transchoice(nb_camps) }}
            </div>
            <div class="stat">
                <span>{{ nb_members }}</span>
                <p>{{ 'homepage.nb_members' | transchoice(nb_members) }}
            </div>
            <div class="stat">
                <span>{{ nb_projects }}</span>
                <p>{{ 'homepage.nb_projects' | transchoice(nb_projects) }}
            </div>
        </div>
    </div>
    <div id="discover">
        <p>{{ 'homepage.discover' | trans }}</p>
        <button class="button" onclick="scrollToPresentation();"><i class="fas fa-lg fa-chevron-down"></i></button>
    </div>
    <div id="presentation">
        <section>
            <h2>
                <span class="number">1.</span>
                <span>{{ 'presentation.rally.title' | trans | raw }}</span>
            </h2>
            <article>
                <section>
                    {{ 'presentation.rally.content' | trans | raw }}
                    <a href="{{ path('member_registration') }}" class='button'>
                        {{ 'presentation.rally.button' | trans }}
                    </a>
                </section>
                <img src="{{ asset('images/rally.jpg') }}">
            </article>
        </section>
        <section>
            <h2>
                <span class="number">2.</span>
                <span>{{ 'presentation.skills.title' | trans | raw }}</span>
            </h2>
            <article>
                <img src="{{ asset('images/rally.jpg') }}">
                <section>
                    {{ 'presentation.skills.content' | trans | raw }}
                </section>
            </article>
        </section>
        <section>
            <h2>
                <span class="number">3.</span>
                <span>{{ 'presentation.partners.title' | trans | raw }}</span>
            </h2>
            <article>
                <section>
                    {{ 'presentation.partners.content' | trans | raw }}
                    <a href="{{ path('new_project') }}" class='button'>
                        {{ 'presentation.partners.button' | trans }}
                    </a>
                </section>
                <img src="{{ asset('images/rally.jpg') }}">
            </article>
        </section>
        <footer>
            <h2>Et puis...</h2>
            <h3>{{ 'presentation.vision.title' | trans }}</h3>
            {{ 'presentation.vision.content' | trans | raw }}
            <button class="button" onclick="doScrollTo(0);"><i class="fas fa-lg fa-chevron-up"></i></button>
        </footer>
    </div>
{% endblock %}
