<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}DevelopTech{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" href="{{ asset('css/main.css') }}">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('images/logo.png') }}" />
    </head>
    <body>
        {% block wrapper %}
            <nav>
                <h1>
                    <a href="{{ path('homepage') }}">DevelopTech</a>
                </h1>
                <div>
                    <a href="{{ path('projects_list') }}">{{ 'projects.menu_item' | trans }}</a>
                    {% if is_granted("ROLE_USER") %}
                        <a href="{{ path('member_dashboard') }}">{{ 'users.dashboard' | trans }}</a>
                    {% else %}
                        <a href="{{ path('login') }}">{{ 'users.login' | trans }}</a>
                    {% endif %}
                </div>
            </nav>
            {% block body %}

            {% endblock %}
        {% endblock %}

        {% block javascripts %}
            <script type="text/javascript" src="{{ asset('js/main.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/jquery.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/jquery-easing.min.js') }}"></script>
        {% endblock %}
    </body>
</html>
